[submodule "timeEvt.yakindu.linux/RKH"]
	path = timeEvt.yakindu.linux/RKH
	url = https://github.com/vortexmakes/RKH.git
[submodule "parameterized-sm.eclipse-cdt/RKH"]
	path = parameterized-sm.eclipse-cdt/RKH
	url = https://github.com/vortexmakes/RKH.git
[submodule "blinky.cmake/third-party/RKH"]
	path = blinky.cmake/third-party/RKH
	url = https://github.com/vortexmakes/RKH.git
	branch = develop
[submodule "blinky.cmake.cpp/third-party/RKH"]
	path = blinky.cmake.cpp/third-party/RKH
	url = https://github.com/vortexmakes/RKH.git
	branch = develop
