<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_AX0bQP_3Eeafl6WsllPgUg" specification="interface:&#xA;var readonly ChangeColorTime: integer = 5&#xA;in event evStart&#xA;&#xA;internal:&#xA;operation init()&#xA;operation isInOneCycle(): boolean" name="LightMgr">
    <regions xmi:id="_AX1CVP_3Eeafl6WsllPgUg" name="Color">
      <vertices xsi:type="sgraph:Entry" xmi:id="_AX2Qcf_3Eeafl6WsllPgUg">
        <outgoingTransitions xmi:id="_mmpE8L9SEem7Dd0wTGCnPg" specification="/ init()" target="_miSLMP_3Eeafl6WsllPgUg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_miSLMP_3Eeafl6WsllPgUg" specification="" name="Red" incomingTransitions="_mmpE8L9SEem7Dd0wTGCnPg _rxpHsLJZEeqpJ8Ax6WgSSw _yQk6ALJZEeqpJ8Ax6WgSSw">
        <outgoingTransitions xmi:id="_hR3oELJXEeqpJ8Ax6WgSSw" specification="after ChangeColorTime s" target="_E4dF4KerEeqDLrUxJY9ibg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_E4dF4KerEeqDLrUxJY9ibg" specification="" name="Yelow" incomingTransitions="_hR3oELJXEeqpJ8Ax6WgSSw">
        <outgoingTransitions xmi:id="_mPib8LJXEeqpJ8Ax6WgSSw" specification="after ChangeColorTime s" target="_KJp5zKerEeqDLrUxJY9ibg"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_KJp5zKerEeqDLrUxJY9ibg" specification="" name="Green" incomingTransitions="_mPib8LJXEeqpJ8Ax6WgSSw">
        <outgoingTransitions xmi:id="_ajk2ALJVEeqpJ8Ax6WgSSw" specification="after ChangeColorTime s" target="_mTXhILJZEeqpJ8Ax6WgSSw"/>
      </vertices>
      <vertices xsi:type="sgraph:Choice" xmi:id="_mTXhILJZEeqpJ8Ax6WgSSw" incomingTransitions="_ajk2ALJVEeqpJ8Ax6WgSSw">
        <outgoingTransitions xmi:id="_rxpHsLJZEeqpJ8Ax6WgSSw" specification="[isInOneCycle()== false]" target="_miSLMP_3Eeafl6WsllPgUg"/>
        <outgoingTransitions xmi:id="_zFJKgLJZEeqpJ8Ax6WgSSw" specification="else" target="_teaykLJZEeqpJ8Ax6WgSSw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_teaykLJZEeqpJ8Ax6WgSSw" name="WaitToStart" incomingTransitions="_zFJKgLJZEeqpJ8Ax6WgSSw">
        <outgoingTransitions xmi:id="_yQk6ALJZEeqpJ8Ax6WgSSw" specification="evStart" target="_miSLMP_3Eeafl6WsllPgUg"/>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_AX1CUv_3Eeafl6WsllPgUg" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_AX0bQP_3Eeafl6WsllPgUg" measurementUnit="Pixel">
    <children xmi:id="_AX1pYP_3Eeafl6WsllPgUg" type="Region" element="_AX1CVP_3Eeafl6WsllPgUg">
      <children xsi:type="notation:DecorationNode" xmi:id="_AX1pY__3Eeafl6WsllPgUg" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_AX1pZP_3Eeafl6WsllPgUg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_AX1pZf_3Eeafl6WsllPgUg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_AX1pZv_3Eeafl6WsllPgUg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_AX2Qcv_3Eeafl6WsllPgUg" type="Entry" element="_AX2Qcf_3Eeafl6WsllPgUg">
          <children xmi:id="_AX2Qdv_3Eeafl6WsllPgUg" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_AX23gP_3Eeafl6WsllPgUg" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_AX23gf_3Eeafl6WsllPgUg"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_AX23gv_3Eeafl6WsllPgUg"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_AX2Qd__3Eeafl6WsllPgUg" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_AX2QeP_3Eeafl6WsllPgUg"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_AX2Qc__3Eeafl6WsllPgUg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_AX2QdP_3Eeafl6WsllPgUg" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_AX23g__3Eeafl6WsllPgUg" x="143" y="-6" width="15" height="15"/>
        </children>
        <children xmi:id="_miXqwP_3Eeafl6WsllPgUg" type="State" element="_miSLMP_3Eeafl6WsllPgUg">
          <children xsi:type="notation:DecorationNode" xmi:id="_miYR0P_3Eeafl6WsllPgUg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_miYR0f_3Eeafl6WsllPgUg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_miYR0v_3Eeafl6WsllPgUg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_miYR0__3Eeafl6WsllPgUg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_miYR1P_3Eeafl6WsllPgUg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_miYR1f_3Eeafl6WsllPgUg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_miY44P_3Eeafl6WsllPgUg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_miXqwf_3Eeafl6WsllPgUg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_miXqwv_3Eeafl6WsllPgUg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_miY44f_3Eeafl6WsllPgUg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_miXqw__3Eeafl6WsllPgUg" x="80" y="41" width="146" height="55"/>
        </children>
        <children xmi:id="_E4bQsKerEeqDLrUxJY9ibg" type="State" element="_E4dF4KerEeqDLrUxJY9ibg">
          <children xsi:type="notation:DecorationNode" xmi:id="_E4bQsaerEeqDLrUxJY9ibg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_E4bQsqerEeqDLrUxJY9ibg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_E4bQs6erEeqDLrUxJY9ibg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_E4bQtKerEeqDLrUxJY9ibg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_E4bQtaerEeqDLrUxJY9ibg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_E4bQtqerEeqDLrUxJY9ibg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_E4bQt6erEeqDLrUxJY9ibg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_E4bQuKerEeqDLrUxJY9ibg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_E4bQuaerEeqDLrUxJY9ibg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_E4bQuqerEeqDLrUxJY9ibg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_E4bQu6erEeqDLrUxJY9ibg" x="80" y="138" width="146" height="55"/>
        </children>
        <children xmi:id="_KJp5wKerEeqDLrUxJY9ibg" type="State" element="_KJp5zKerEeqDLrUxJY9ibg">
          <children xsi:type="notation:DecorationNode" xmi:id="_KJp5waerEeqDLrUxJY9ibg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_KJp5wqerEeqDLrUxJY9ibg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_KJp5w6erEeqDLrUxJY9ibg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_KJp5xKerEeqDLrUxJY9ibg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_KJp5xaerEeqDLrUxJY9ibg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_KJp5xqerEeqDLrUxJY9ibg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_KJp5x6erEeqDLrUxJY9ibg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_KJp5yKerEeqDLrUxJY9ibg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_KJp5yaerEeqDLrUxJY9ibg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_KJp5yqerEeqDLrUxJY9ibg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_KJp5y6erEeqDLrUxJY9ibg" x="80" y="235" width="146" height="55"/>
        </children>
        <children xsi:type="notation:Shape" xmi:id="_mTZ9YLJZEeqpJ8Ax6WgSSw" type="Choice" element="_mTXhILJZEeqpJ8Ax6WgSSw" fontName="Verdana" lineColor="4210752">
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_mTZ9YbJZEeqpJ8Ax6WgSSw" x="392" y="252"/>
        </children>
        <children xmi:id="_tecnwLJZEeqpJ8Ax6WgSSw" type="State" element="_teaykLJZEeqpJ8Ax6WgSSw">
          <children xsi:type="notation:DecorationNode" xmi:id="_tedO0LJZEeqpJ8Ax6WgSSw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_tedO0bJZEeqpJ8Ax6WgSSw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_tedO0rJZEeqpJ8Ax6WgSSw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_ted14LJZEeqpJ8Ax6WgSSw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_teec8LJZEeqpJ8Ax6WgSSw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_teec8bJZEeqpJ8Ax6WgSSw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_teec8rJZEeqpJ8Ax6WgSSw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_tecnwbJZEeqpJ8Ax6WgSSw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_tecnwrJZEeqpJ8Ax6WgSSw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_tefEALJZEeqpJ8Ax6WgSSw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tecnw7JZEeqpJ8Ax6WgSSw" x="483" y="235" width="146" height="55"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_AX1pZ__3Eeafl6WsllPgUg"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_AX1pYf_3Eeafl6WsllPgUg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_AX2QcP_3Eeafl6WsllPgUg" x="-195" y="-39" width="679" height="349"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_AX5Tw__3Eeafl6WsllPgUg" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_AX5Txf_3Eeafl6WsllPgUg" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_AX5Txv_3Eeafl6WsllPgUg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_AX5Tx__3Eeafl6WsllPgUg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_AX560P_3Eeafl6WsllPgUg" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_AX560f_3Eeafl6WsllPgUg"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_AX560v_3Eeafl6WsllPgUg" x="10" y="10" width="200" height="114"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_AX1CU__3Eeafl6WsllPgUg"/>
    <styles xsi:type="notation:BooleanValueStyle" xmi:id="_unrpoJwPEeiWEbEH-mHIYA" name="inlineDefinitionSection"/>
    <edges xmi:id="_mmsvUL9SEem7Dd0wTGCnPg" type="Transition" element="_mmpE8L9SEem7Dd0wTGCnPg" source="_AX2Qcv_3Eeafl6WsllPgUg" target="_miXqwP_3Eeafl6WsllPgUg">
      <children xsi:type="notation:DecorationNode" xmi:id="_mmsvUb9SEem7Dd0wTGCnPg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_mmsvUr9SEem7Dd0wTGCnPg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_mmsvU79SEem7Dd0wTGCnPg" x="-9" y="-26"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_mmsvVL9SEem7Dd0wTGCnPg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_mmsvVb9SEem7Dd0wTGCnPg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_mmsvVr9SEem7Dd0wTGCnPg" points="[0, 7, 44, -41]$[0, 40, 44, -8]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_o5w-IL9SEem7Dd0wTGCnPg" id="(0.5,0.5)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_nYgmwL9SEem7Dd0wTGCnPg" id="(0.19143895275568393,0.1630188679245283)"/>
    </edges>
    <edges xmi:id="_ajpugLJVEeqpJ8Ax6WgSSw" type="Transition" element="_ajk2ALJVEeqpJ8Ax6WgSSw" source="_KJp5wKerEeqDLrUxJY9ibg" target="_mTZ9YLJZEeqpJ8Ax6WgSSw">
      <children xsi:type="notation:DecorationNode" xmi:id="_ajrjsLJVEeqpJ8Ax6WgSSw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ajsKwLJVEeqpJ8Ax6WgSSw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ajsKwbJVEeqpJ8Ax6WgSSw" x="6" y="-16"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ajpugbJVEeqpJ8Ax6WgSSw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ajq8oLJVEeqpJ8Ax6WgSSw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ajpugrJVEeqpJ8Ax6WgSSw" points="[0, -4, -87, 0]$[80, -4, -7, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ajvOELJVEeqpJ8Ax6WgSSw" id="(1.0,0.5636363636363636)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qDzs4LJZEeqpJ8Ax6WgSSw" id="(0.5,0.5)"/>
    </edges>
    <edges xmi:id="_hR6EULJXEeqpJ8Ax6WgSSw" type="Transition" element="_hR3oELJXEeqpJ8Ax6WgSSw" source="_miXqwP_3Eeafl6WsllPgUg" target="_E4bQsKerEeqDLrUxJY9ibg">
      <children xsi:type="notation:DecorationNode" xmi:id="_hR6rYbJXEeqpJ8Ax6WgSSw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_hR6rYrJXEeqpJ8Ax6WgSSw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_hR6rY7JXEeqpJ8Ax6WgSSw" x="-1" y="79"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_hR6EUbJXEeqpJ8Ax6WgSSw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_hR6rYLJXEeqpJ8Ax6WgSSw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_hR6EUrJXEeqpJ8Ax6WgSSw" points="[13, 0, 46, -78]$[13, 47, 46, -31]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_hR-VwLJXEeqpJ8Ax6WgSSw" id="(0.410958904109589,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_hR-VwbJXEeqpJ8Ax6WgSSw" id="(0.17123287671232876,0.6363636363636364)"/>
    </edges>
    <edges xmi:id="_mPjqELJXEeqpJ8Ax6WgSSw" type="Transition" element="_mPib8LJXEeqpJ8Ax6WgSSw" source="_E4bQsKerEeqDLrUxJY9ibg" target="_KJp5wKerEeqDLrUxJY9ibg">
      <children xsi:type="notation:DecorationNode" xmi:id="_mPkRILJXEeqpJ8Ax6WgSSw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_mPkRIbJXEeqpJ8Ax6WgSSw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_mPkRIrJXEeqpJ8Ax6WgSSw" x="6" y="79"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_mPjqEbJXEeqpJ8Ax6WgSSw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_mPjqE7JXEeqpJ8Ax6WgSSw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_mPjqErJXEeqpJ8Ax6WgSSw" points="[36, 0, 38, -66]$[36, 47, 38, -19]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_mPlfQLJXEeqpJ8Ax6WgSSw" id="(0.2465753424657534,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_mPlfQbJXEeqpJ8Ax6WgSSw" id="(0.2328767123287671,0.3818181818181819)"/>
    </edges>
    <edges xmi:id="_rxq84LJZEeqpJ8Ax6WgSSw" type="Transition" element="_rxpHsLJZEeqpJ8Ax6WgSSw" source="_mTZ9YLJZEeqpJ8Ax6WgSSw" target="_miXqwP_3Eeafl6WsllPgUg">
      <children xsi:type="notation:DecorationNode" xmi:id="_rxq85LJZEeqpJ8Ax6WgSSw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_rxq85bJZEeqpJ8Ax6WgSSw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_rxrj8LJZEeqpJ8Ax6WgSSw" x="-85"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_rxq84bJZEeqpJ8Ax6WgSSw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_rxq847JZEeqpJ8Ax6WgSSw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_rxq84rJZEeqpJ8Ax6WgSSw" points="[-8, -16, 190, 201]$[-8, -197, 190, 20]$[-186, -197, 12, 20]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_rxtZILJZEeqpJ8Ax6WgSSw" id="(1.0,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_rxtZIbJZEeqpJ8Ax6WgSSw" id="(0.9178082191780821,0.18181818181818182)"/>
    </edges>
    <edges xmi:id="_yQmvMLJZEeqpJ8Ax6WgSSw" type="Transition" element="_yQk6ALJZEeqpJ8Ax6WgSSw" source="_tecnwLJZEeqpJ8Ax6WgSSw" target="_miXqwP_3Eeafl6WsllPgUg">
      <children xsi:type="notation:DecorationNode" xmi:id="_yQnWQLJZEeqpJ8Ax6WgSSw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_yQnWQbJZEeqpJ8Ax6WgSSw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_yQnWQrJZEeqpJ8Ax6WgSSw" x="14" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_yQmvMbJZEeqpJ8Ax6WgSSw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_yQmvM7JZEeqpJ8Ax6WgSSw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_yQmvMrJZEeqpJ8Ax6WgSSw" points="[26, 0, 361, 184]$[26, -178, 361, 6]$[-306, -178, 29, 6]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_yQpygLJZEeqpJ8Ax6WgSSw" id="(0.3150684931506849,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_yQpygbJZEeqpJ8Ax6WgSSw" id="(0.8013698630136986,0.2)"/>
    </edges>
    <edges xmi:id="_zFKYoLJZEeqpJ8Ax6WgSSw" type="Transition" element="_zFJKgLJZEeqpJ8Ax6WgSSw" source="_mTZ9YLJZEeqpJ8Ax6WgSSw" target="_tecnwLJZEeqpJ8Ax6WgSSw">
      <children xsi:type="notation:DecorationNode" xmi:id="_zFKYpLJZEeqpJ8Ax6WgSSw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_zFKYpbJZEeqpJ8Ax6WgSSw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_zFKYprJZEeqpJ8Ax6WgSSw" y="-12"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_zFKYobJZEeqpJ8Ax6WgSSw" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_zFKYo7JZEeqpJ8Ax6WgSSw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_zFKYorJZEeqpJ8Ax6WgSSw" points="[-1, -8, -102, 3]$[102, -32, 1, -21]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_zFM04LJZEeqpJ8Ax6WgSSw" id="(1.0,1.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_zFM04bJZEeqpJ8Ax6WgSSw" id="(0.1780821917808219,0.43636363636363634)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
